.header {
  text-align: center;
}

.header li {
  list-style: none;
  display: inline-block;
  padding: 10px;
  margin: 10px;
}

.header a {
  color: darkblue;
  text-decoration: none;
}

.header a:visited {
  color: darkblue;
}

.header a:hover {
  color: blue;
  text-decoration: underline;
}
